.container {
    top: 0;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
}

.background {
    position: absolute;
    flex-direction: row;
    display: flex;
    gap: 75px;
}

.frst_color {
    background: #4A0000;
    width: 5000px;
    height: 54px;
}

.scnd_color {
    width: 3717px;
    height: 54px;
    background: #172651;
}

.navbar_menu {
    display: flex;
    position: relative;
    gap: 757px;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-right: 50px;
}

.title {
    display: flex;
}

.navbar_title {
    width: 227px;
    height: 29px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    text-align: center;   
    color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.navbar_links {
    width: 98px;
    height: 29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 1336px) {
    .container {
    width: 100%;
    }   

    .navbar_background {
        width: 100%;
    }

    .background {
        position: absolute;
        flex-direction: row;
        display: flex;
        gap: 75px;
    }
    
    .frst_color {
        background: #4A0000;
        width: 4617px;
        height: 54px;
    }
    
    .scnd_color {
        width: 3717px;
        height: 54px;
        background: #172651;
    }

    .navbar_menu {
        gap: 372px;
    }
}

@media only screen and (max-width: 969px) {
    .container {
        width: 100%;
        height: 37px;
    }   

    .navbar_background {
        width: 100%;
    }

    .background {
        position: absolute;
        flex-direction: row;
        display: flex;
        gap: 75px;
    }
    
    .frst_color {
        background: #4A0000;
        width: 4330px;
        height: 54px;
    }
    
    .scnd_color {
        width: 3717px;
        height: 54px;
        background: #172651;
    }

    .navbar_menu {
        gap: 271px;
    }

    .logo {
        gap: 11.15px;
    }

    .navbar_title {
        width: 150px;
        height: 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 11px;
    }
    
    .buttons {
        gap: 50px;
    }
    
    .navbar_links {
        width: 35px;
        height: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar_menu {
        gap: 170px;
    }

    .frst_color {
        background: #4A0000;
        width: 4230px;
        height: 54px;
    }
}
@media only screen and (max-width: 390px) {
    .buttons {
        display: none;
    }

    .navbar_logo {
        display: none;
    }

    .frst_color {
        display: none;
    }

    .scnd_color {
        display: none;
    }

    .navbar_title {
        align-items: center;
        width: 190.81px;
        height: 13.84px;
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        padding-left: 60px;
        padding-top: 2px;
    }

    .container {
        width: 100%;
        height: 30px;
        background: #000000;
        mix-blend-mode: hard-light;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
